@charset "UTF-8";
@font-face {
  font-family: "Machina";
  src: url(../fonts/NeueMachina-Regular.ttf);
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Machina";
  src: url(../fonts/NeueMachina-Ultrabold.ttf);
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Machina";
  src: url(../fonts/NeueMachina-Ultralight.ttf);
  font-weight: 200;
  font-style: normal;
}
*, html, body {
  font-family: "Machina";
}

html, body {
  width: 100%;
  height: 10000px;
  background-color: #020202;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 12px; /* ширина всей полосы прокрутки */
}

body::-webkit-scrollbar-track {
  background: #000; /* цвет зоны отслеживания */
}

body::-webkit-scrollbar-thumb {
  background-color: #000; /* цвет бегунка */
  border-radius: 10px; /* округлось бегунка */
  border: 3px solid #fff; /* отступ вокруг бегунка */
}

.container {
  max-width: 1038px;
  margin: 0 auto;
  padding: 0px 15px;
}
@media (max-width: 375px) {
  .container {
    padding: 0px 5px;
  }
}

.header {
  padding: 37px 0px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  width: 100%;
  background: rgba(0, 0, 0, 0.4549019608);
  transition: padding 0.5s linear 0s;
}
.header__container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header__logo img {
    width: 84px;
    height: 30px;
  }
}
.header__content {
  display: flex;
  flex-direction: column;
  row-gap: 7px;
}
.header__title {
  color: #FFF;
  font-size: 22px;
  line-height: 117.5%; /* 25.85px */
  text-align: right;
}
@media (max-width: 768px) {
  .header__title {
    font-size: 12px;
  }
}
.header__subtitle {
  opacity: 0.5;
  color: #FFF;
  font-size: 22px;
  line-height: 117.5%; /* 25.85px */
  padding-right: 61px;
}
@media (max-width: 768px) {
  .header__subtitle {
    font-size: 12px;
    padding-right: 18px;
  }
}

.scroll {
  padding: 10px 0px;
  transition: padding 0.5s linear 0s;
}

.page {
  padding-top: 243px;
}
@media (max-width: 768px) {
  .page {
    padding-top: 160px;
  }
}

.main {
  padding-bottom: 146px;
}
.main__container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.main__title {
  color: #FFF;
  font-size: 80px;
  max-width: 761px;
  display: flex;
  flex-direction: column;
  z-index: 5;
  position: relative;
  row-gap: 28px;
}
@media (max-width: 768px) {
  .main__title {
    max-width: 270px;
    font-size: 30px;
    row-gap: 6px;
  }
}
.main__title p:nth-child(2) {
  padding-left: 30px;
  display: flex;
  align-items: center;
  gap: 25px;
}
@media (max-width: 768px) {
  .main__title p:nth-child(2) {
    padding-left: 12px;
    gap: 11px;
  }
}
.main__title p:last-child {
  padding-left: 190px;
  color: #FFF;
  font-size: 100px;
  font-style: italic;
  line-height: 117.5%; /* 117.5px */
}
@media (max-width: 768px) {
  .main__title p:last-child {
    font-size: 35px;
    padding-left: 71px;
  }
}
.main__title span {
  color: #FFF;
  font-size: 50px;
  font-weight: 800;
  line-height: 117.5%; /* 58.75px */
  padding: 18px 60px;
  border-radius: 100px;
  border: 5px solid #FFF;
}
@media (max-width: 768px) {
  .main__title span {
    font-size: 18px;
    padding: 6.6px 22px;
    border-radius: 36.885px;
    border: 1.844px solid #FFF;
  }
}
.main__decors {
  position: absolute;
  width: 100%;
  height: 100%;
}
.main__decors img {
  position: absolute;
  z-index: 1;
  transition: all 0.3s linear 0s;
}
.main__decors img:first-child {
  left: -9px;
  top: 121px;
}
@media (max-width: 768px) {
  .main__decors img:first-child {
    width: 22.471px;
    height: 22.471px;
    left: 10px;
    top: 41px;
  }
}
.main__decors img:nth-child(2) {
  left: -9px;
  top: 207px;
}
@media (max-width: 768px) {
  .main__decors img:nth-child(2) {
    width: 38.952px;
    height: 38.952px;
    left: 10px;
    top: 67px;
  }
}
.main__decors img:nth-child(3) {
  left: 109px;
  top: 71px;
}
@media (max-width: 768px) {
  .main__decors img:nth-child(3) {
    width: 162.144px;
    height: 134.769px;
    top: 4px;
    left: 0;
  }
}
.main__decors img:nth-child(4) {
  right: 83px;
  top: -161px;
}
@media (max-width: 768px) {
  .main__decors img:nth-child(4) {
    width: 162.144px;
    height: 134.769px;
    top: -74px;
    right: 35px;
  }
}
.main__decors img:nth-child(5) {
  right: -9px;
  top: -46px;
}
@media (max-width: 768px) {
  .main__decors img:nth-child(5) {
    width: 38.952px;
    height: 38.952px;
    right: 17px;
    top: -19px;
  }
}
.main__decors img:last-child {
  right: -9px;
  top: 66px;
}
@media (max-width: 768px) {
  .main__decors img:last-child {
    width: 22.471px;
    height: 22.471px;
    right: 17px;
    top: 23px;
  }
}

.stack {
  max-width: 1440px;
  margin: 0 auto;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
@media (max-width: 768px) {
  .stack {
    row-gap: 40px;
  }
}
.stack__topline {
  background: #FFF;
  width: 1150px;
  height: 1px;
}
@media (max-width: 768px) {
  .stack__topline {
    width: 90%;
  }
}
.stack__bottomline div {
  background: #FFF;
  max-width: 800px;
  height: 1px;
  text-align: right;
  margin-left: auto;
}
@media (max-width: 768px) {
  .stack__bottomline div {
    width: 70%;
  }
}

.items-wrap:hover .marquee {
  animation-play-state: paused;
}

.wrap {
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 39px;
  align-items: center;
}
@media (max-width: 768px) {
  .wrap {
    row-gap: 18px;
  }
}

.items-wrap {
  position: relative;
  display: flex;
  overflow: hidden;
  align-items: center;
}

.items {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  align-items: center;
}
@media (max-width: 768px) {
  .items {
    justify-content: space-evenly;
  }
}

.marquee {
  animation: scroll 20s linear infinite;
}

.item {
  color: #FFF;
  font-size: 30px;
  line-height: 117.5%; /* 35.25px */
  transition: all 0.2s ease-in-out;
}
@media (max-width: 768px) {
  .item {
    font-size: 15px;
  }
}
.item:nth-child(odd) {
  font-weight: 800;
  opacity: 0.5;
}
.item:nth-child(even) {
  font-weight: 400;
  padding: 13px 45px;
  border-radius: 75.022px;
  border: 1px solid #FFF;
}
@media (max-width: 768px) {
  .item:nth-child(even) {
    padding: 7px 22px;
  }
}

.reverce {
  animation-direction: reverse;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 30px));
  }
}
.projects {
  padding-top: 155px;
}
.projects__container {
  max-width: 1090px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  row-gap: 100px;
  padding: 0px 15px;
}
.projects__row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .projects__row {
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
  }
}
.projects__column {
  opacity: 0;
  transform: translateY(60px);
  transition: all 0.7s linear 0.1s;
}
@media (max-width: 768px) {
  .projects__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 535px) {
  .projects__column {
    align-items: start;
  }
}
.projects__image {
  overflow: hidden;
  border-radius: 35px;
}
@media (max-width: 1050px) {
  .projects__image {
    width: 70%;
  }
}
@media (max-width: 768px) {
  .projects__image {
    width: 50%;
  }
}
@media (max-width: 535px) {
  .projects__image {
    width: 100%;
  }
}
.projects__image img {
  transition: all 0.3s ease-in-out 0s;
  transform: scale(1.1);
}
@media (max-width: 1050px) {
  .projects__image img {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .projects__image img {
    width: 100%;
  }
}
.projects__image img:hover {
  transform: scale(1);
}
.projects__name {
  color: var(--Gray-5, #E0E0E0);
  line-height: 150%; /* 24px */
  padding-left: 27px;
  padding-top: 28px;
  padding-bottom: 16px;
}
@media (max-width: 768px) {
  .projects__name {
    font-size: 11px;
    padding-top: 19px;
    padding-bottom: 10px;
    padding-left: 18px;
  }
}
.projects__title {
  padding-left: 27px;
  color: var(--White, #FFF);
  font-size: 45px;
  font-weight: 800;
  line-height: 120%;
  max-width: 420px;
}
@media (max-width: 768px) {
  .projects__title {
    font-size: 30px;
    max-width: 280px;
    padding-left: 18px;
  }
}
.projects__title span {
  font-weight: 300;
  color: rgba(255, 255, 255, 0.5);
}

._active {
  opacity: 1;
  transform: translateY(0);
  transition: all 1s linear 0s;
}